html, body {
	margin: 0px;
	font-size: 13px;
	line-height: 160%;
	font-family: NanumGothic,'Malgun Gothic', Arial, Helvetica, sans-serif;
	background-image: url(html.back2.png);
	background-position: top left;
	background-repeat: repeat;
}

div.paper {
	margin: 0px;
	padding: 15px 30px 100px 25px;
	background-color:#ffffff;
	background-image: url(paper.back2.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}

h1.paper-title {
	margin: 0px;
	padding: 22px 30px 27px 25px;
	font-size: 40px;
	border-bottom: 3px dashed #cfd3d6;
	border-top:1px solid #9ca2a6;
	background-color:#ffffff;
}

/**************************************************************************
 * Code
 **************************************************************************/
code, pre code {
	font-family: Consolas, Monaco, Andale Mono, Courier New, monospace, NanumGothic, 'Malgun Gothic', Arial, Helvetica, sans-serif;
}
code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
pre {
	display: block;
	padding: 14px;
	margin: 0 0 18px;
	border: 1px solid #d9d9d9;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre code {
	background-color: #fff;
	color: #737373;
	padding: 0;
}

/**************************************************************************
 * Prism
 **************************************************************************/
code[class*="language-"], pre[class*="language-"] {
	color: black;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
}

/* :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
 background: #f5f2f0;
 }*/

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property, .token.tag, .token.boolean, .token.number {
	color: #905;
}

.token.selector, .token.attr-name, .token.string {
	color: #690;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.token.atrule, .token.attr-value, .token.keyword {
	color: #07a;
}

.token.regex, .token.important {
	color: #e90;
}

.token.important {
	font-weight: bold;
}

.token.entity {
	cursor: help;
}
pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */
	background: hsla(24, 20%, 50%,.08);
	background: -moz-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -webkit-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -o-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	pointer-events: none;
	white-space: pre;
}

.line-highlight:before, .line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: hsla(24, 20%, 50%,.4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em;
}

/**************************************************************************
 * Markdown
 **************************************************************************/

h1, h2, h3, h4, h5, h6, p, blockquote {
	margin: 0;
	padding: 0;
}

table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
td, th {
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;
}

a {
	color: #0069d6;
}
a:hover {
	color: #0050a3;
	text-decoration: none;
}
a img {
	border: none;
}
p {
	margin-bottom: 9px;
}
h1, h2, h3, h4, h5, h6 {
	color: #404040;
	line-height: 36px;
}
h1 {
	margin-bottom: 18px;
	font-size: 30px;
	border-bottom: 2px dashed #cccccc;
	padding-bttom: 4px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 13px;
}
hr {
	margin: 0 0 19px;
	border: 0;
	border-bottom: 1px solid #ccc;
}
blockquote {
	padding: 13px 13px 21px 15px;
	margin-bottom: 18px;
	font-family: georgia, serif;
	font-style: italic;
}
blockquote:before {
	content: "\201C";
	font-size: 40px;
	margin-left: -10px;
	font-family: georgia, serif;
	color: #eee;
}
blockquote p {
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 0;
	font-style: italic;
}

/*
 @media screen and (min-width: 914px) {
 body {
 width: 854px;
 margin:10px auto;
 }
 }
 */

@media print {
	body, code, pre code, h1, h2, h3, h4, h5, h6 {
		color: black;
	}
	table, pre {
		page-break-inside: avoid;
	}
}