html, body {
	margin: 0px;
	font-size: 13px;
	line-height: 150%;
	font-family: NanumGothic,'Malgun Gothic', Arial, Helvetica, sans-serif;
	background-image: url(html.back2.png);
	background-position: top left;
	background-repeat: repeat;
}

div.paper {
	margin: 0px;
	padding: 15px 30px 100px 25px;
	background-color:#ffffff;
	background-image: url(paper.back2.png);
	background-position: bottom left;
	background-repeat: repeat-x;
}

h1.paper-title {
	margin: 0px;
	padding: 22px 30px 27px 23px;
	font-size: 40px;
	border-bottom: 3px dashed #cfd3d6;
	border-top:1px solid #9ca2a6;
	background-color:#ffffff;
}

